<!DOCTYPE html>
<html ng-app="TaskApp">
  <head>
    <title>Full MEAN Stack To-Do List</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body ng-controller="TaskController" data-ng-init="getTasks()">

  	<main class="container">
    <h1 class="text-center">Full MEAN Stack To-Do List</h1>

    <section class="jumbotron text-center">
    	<h3>Add a new Item</h3>
    	<form class="form-inline">
	    	<label for="title">Item Name:</label>
	    	<input ng-model="title" />
	    	<button class="btn btn-success btn-outline" ng-click="addTask()">Add Item</button>
    	</form>
      <hr>
      <h3>{{ tasks.length }} Total Items</h3>
    </section>
    <section>
	    <ul class="list-group">
          <li class="list-group-item" ng-repeat="task in tasks">
            <span class="col-sm-6">{{ task.title }}</span>
            <button class="btn btn-danger" ng-click="deleteTask(task._id)">Delete Item</button>
          </li>
	    </ul>
    </section>

    </main>

    <!-- js -->
    <script src="/javascripts/angular.min.js"></script>
    <script src="/javascripts/angular-ui-router.js"></script>
    <script src="/javascripts/taskApp.js"></script>
  </body>
</html>
